body {
  background: url(images/bg-image.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: rgb(185, 25, 25);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
}

/* Responsive style */
@media (max-width: 767px) {
  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: fixed;
    background: rgb(185, 25, 25);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -300px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */